image:
  repository: ghcr.io/japan7/karaberus
  tag: master@sha256:105667f356ca163e8342b8fbb4c1a0dd0c558664aecaf0280fadb51a47d61429
  pullPolicy: ""

replicaCount: 1

updateStrategy:
  type: RollingUpdate

listen:
  host: 0.0.0.0
  port: 8888
  baseUrl: ""

oidc:
  issuer: ""
  clientId: ""
  clientSecret: ""
  scopes: ""
  idClaim: ""
  groupsClaim: ""
  adminGroup: ""
  jwtSignKey: ""

s3:
  endpoint: ""
  keyId: ""
  secret: ""
  secure: false
  bucketName: karaberus

db:
  driver: sqlite
  dsn: user=karaberus password=karaberus dbname=karaberus port=5123 sslmode=disable TimeZone=UTC
  file: /data/karaberus.db

dakara:
  baseUrl: ""
  token: ""

cnpg:
  secretName: ""

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  mountPath: /data
  labels: {}

ingress:
  host: ""
  annotations: {}
  extraTraefikMiddlewares: []
