image:
  repository: ghcr.io/japan7/karaberus
  tag: master@sha256:a960e9dfd7d3a7d82b158c78df294624141057c6be1a21ed04025410583d1151
  pullPolicy: ""

replicaCount: 1

updateStrategy:
  type: RollingUpdate

listen:
  host: 0.0.0.0
  port: 8888
  baseUrl: ""

oidc:
  issuer: ""
  clientId: ""
  clientSecret: ""
  scopes: ""
  idClaim: ""
  groupsClaim: ""
  adminGroup: ""
  jwtSignKey: ""

s3:
  endpoints: []
  keyId: ""
  secret: ""
  secure: false
  bucketName: karaberus

db:
  driver: sqlite
  dsn: user=karaberus password=karaberus dbname=karaberus port=5123 sslmode=disable TimeZone=UTC
  file: /data/karaberus.db

dakara:
  baseUrl: ""
  token: ""

cnpg:
  secretName: ""

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  mountPath: /data
  labels: {}

ingress:
  host: ""
  annotations: {}
  extraTraefikMiddlewares: []

mugen:
  basic:
    username: ""
    password: ""
  gitlab:
    client_id: ""
    client_secret: ""
    project_id: ""

webhooks: []
# - type: ""
#   url: ""
