image:
  repository: ghcr.io/japan7/karaberus
  tag: master@sha256:67e3ac4f25012096f301c9a76b7a55769384b46407c17eea1d1b90c70e6e811d
  pullPolicy: ""

replicaCount: 1

updateStrategy:
  type: RollingUpdate

listen:
  host: 0.0.0.0
  port: 8888
  baseUrl: ""

oidc:
  issuer: ""
  clientId: ""
  clientSecret: ""
  scopes: ""
  idClaim: ""
  groupsClaim: ""
  adminGroup: ""
  jwtSignKey: ""

s3:
  endpoint: ""
  keyId: ""
  secret: ""
  secure: false
  bucketName: karaberus

db:
  driver: sqlite
  dsn: user=karaberus password=karaberus dbname=karaberus port=5123 sslmode=disable TimeZone=UTC
  file: /data/karaberus.db

dakara:
  baseUrl: ""
  token: ""

cnpg:
  secretName: ""

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  mountPath: /data
  labels: {}

ingress:
  host: ""
  annotations: {}
