image:
  repository: ghcr.io/japan7/nanacount
  tag: main@sha256:912c2442fa8216ec482297a6844b014899806a78fba2ebc2a82f409ea97eb087
  pullPolicy: ""

replicaCount: 1

updateStrategy:
  type: RollingUpdate

ingress:
  host: ""
  annotations: {}

persistence:
  accessMode: ReadWriteOnce
  size: 1Gi
  labels: {}
