image:
  repository: ghcr.io/japan7/nanacount
  tag: main@sha256:39fd15d179441c4c1c74925396adec15aff5c2a3dfcb69eeee20f3ee894f4254
  pullPolicy: ""

replicaCount: 1

updateStrategy:
  type: RollingUpdate

ingress:
  host: ""
  annotations: {}

persistence:
  accessMode: ReadWriteOnce
  size: 1Gi
  labels: {}
