image:
  repository: ghcr.io/japan7/nanacount
  tag: main@sha256:d59d56e613b7fa90c09f11a9e2e4e13100394ae21b68cfdcceee8b60b2e4343b
  pullPolicy: ""

replicaCount: 1

updateStrategy:
  type: RollingUpdate

ingress:
  host: ""
  annotations: {}

persistence:
  accessMode: ReadWriteOnce
  size: 1Gi
  labels: {}
