image:
  repository: ghcr.io/japan7/nanacount
  tag: main@sha256:530ff16160ef8933e241ace977455a933de2f665b4d6105baaa90f79c71ccc31
  pullPolicy: ""

replicaCount: 1

updateStrategy:
  type: RollingUpdate

ingress:
  host: ""
  annotations: {}

persistence:
  accessMode: ReadWriteOnce
  size: 1Gi
  labels: {}
