image:
  repository: ghcr.io/japan7/nanacount
  tag: main@sha256:4b2f84d22d3cdc8b2bd3633ad153875329daff26aa664de144f0cd174d347812
  pullPolicy: ""

replicaCount: 1

updateStrategy:
  type: RollingUpdate

ingress:
  host: ""
  annotations: {}

persistence:
  accessMode: ReadWriteOnce
  size: 1Gi
  labels: {}
