image:
  repository: ghcr.io/japan7/nanacount
  tag: main@sha256:13aac9c4ad5aaf40ff94e8d555f1688cb81a699c82decae637d6f19f8ac32250
  pullPolicy: ""

replicaCount: 1

updateStrategy:
  type: RollingUpdate

ingress:
  host: ""
  annotations: {}

persistence:
  accessMode: ReadWriteOnce
  size: 1Gi
  labels: {}
