image:
  repository: ghcr.io/japan7/nanacount
  tag: main@sha256:b5c29dbdaa188adb5e08fe7eddfd1fff1ea179dcae2408e9e5ece553eff9c2e6
  pullPolicy: ""

replicaCount: 1

updateStrategy:
  type: RollingUpdate

ingress:
  host: ""
  annotations: {}

persistence:
  accessMode: ReadWriteOnce
  size: 1Gi
  labels: {}
