image:
  repository: ghcr.io/odrling/syncplay
  tag: master@sha256:dd320d7652d08d653a8071fdd5cef83f8b08c97de229af086247e8b5a474f8a3
  pullPolicy: ""

replicaCount: 1

affinity: {}

syncplay:
  password: ""
  salt: ""

persistence:
  accessMode: ReadWriteOnce
  size: 1Gi
  labels: {}

ingress:
  host: ""
  tcp:
    entryPoints:
      - syncplay

certManager:
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
