environments:
  nana:
    values:
      - tag: 2024.04.24
      - affinity:
          podAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - nanapi
                      - key: app.kubernetes.io/instance
                        operator: In
                        values:
                          - nanapi-prod
                      - key: app.kubernetes.io/component
                        operator: In
                        values:
                          - api
                      - key: app.kubernetes.io/part-of
                        operator: In
                        values:
                          - nanapi
                  topologyKey: kubernetes.io/hostname
                  namespaceSelector: {}
    secrets:
      - ../globals.sops.yaml
      - shared.sops.yaml
      - nana.sops.yaml
  hachi:
    values:
      - tag: sha-26304b6
      - affinity: {}
    secrets:
      - ../globals.sops.yaml
      - shared.sops.yaml
      - hachi.sops.yaml
  snow:
    values:
      - tag: pyright-madhouse@sha256:51593576b005546bffbb1bff0fd16cd6c452b1530774a222e4fbd87ec1ec0aa4
      - affinity: {}
    secrets:
      - ../globals.sops.yaml
      - shared.sops.yaml
      - snow.sops.yaml
  staging:
    values: []
