environments:
  prod:
    values:
      - tag: latest@sha256:3474c3d9e00623b8ea7128dfcff9421fb1eb374706fc548213251750fddfbb66
      - tasks: true
      - affinity:
          podAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - edgedb
                      - key: app.kubernetes.io/instance
                        operator: In
                        values:
                          - nanadb
                      - key: app.kubernetes.io/component
                        operator: In
                        values:
                          - db
                      - key: app.kubernetes.io/part-of
                        operator: In
                        values:
                          - edgedb
                  topologyKey: kubernetes.io/hostname
                  namespaceSelector: {}
    secrets:
      - ../globals.sops.yaml
      - prod.sops.yaml
  staging:
    values:
      - tag: main@sha256:dd50bd341514ed8b87ba8a2008917a842bafb16ecf1f4a6650f795726fe30b8c
      - tasks: false
      - affinity: {}
    secrets:
      - ../globals.sops.yaml
      - staging.sops.yaml
  dev:
    values:
      - tag: break-reference-cycles@sha256:40169a1f499a5504c4187a63ae2c32925cc424d4b5a2070d20ca07daaa0954fd
      - tasks: false
      - affinity: {}
    secrets:
      - ../globals.sops.yaml
      - dev.sops.yaml
