# to set the age key for sops in ansible playbooks
#
#export SOPS_AGE_KEY="..."
#export SOPS_AGE_KEY_FILE="..."

# innernet interface name for nanak8s
NANAK8S_IFACE=japanet7

# nanak8s node type (agent|server)
NANAK8S_NODE_TYPE=server

# garage config file
GARAGE_CONFIG_PATH=/etc/garage.toml

# garage data directory (must be set manually here for the garage playbook)
#GARAGE_DATA_DIR=

