apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}"
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "common.labels.matchLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "common.labels.standard" . | nindent 8 }}
    spec:
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      imagePullSecrets:
        {{- range .Values.image.pullSecrets }}
        - name: {{ . }}
        {{- end }}
      volumes:
        - name: localsettings
          secret:
            secretName: "{{ .Release.Name }}-localsettings"
        - name: html
          emptyDir: {}
      containers:
        - name: "{{ .Chart.Name }}"
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          volumeMounts:
            - name: localsettings
              mountPath: /app/nanachan/local_settings.py
              subPath: local_settings.py
            - name: html
              mountPath: /html
        - name: http
          {{- with .Values.miniserve.image }}
          image: "{{ .repository }}:{{ .tag }}"
          imagePullPolicy: "{{ .pullPolicy }}"
          {{- end }}
          args: ["--route-prefix", {{ .Values.ingress.pathPrefix }}, "/html"]
          volumeMounts:
            - name: html
              mountPath: /html
          ports:
            - containerPort: 8080
